<footer>
    <div id="logo-han">
        <a href="https://www.han.nl/over-de-han/organisatie/academies/academie-it-mediadesign/" target="_blank">
            <img src="/img/logo-han.png" alt="Logo Hogeschool Arnhem en Nijmegen">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/about#about-us">About us</a></li>
            <li><a href="/about#licensing">Licensing</a></li>
            <li><a href="/about#contact-info">Contact info</a></li>
            <li><a href="/about#get-the-pack">Get the pack</a></li>
            <li><a href="/about/more-info">More info</a></li>
        </ul>
    </nav>
    <div id="logo-hva">
        <a href="https://www.cmd-amsterdam.nl/" target="_blank">
            <img src="/img/logo-hva.svg" alt="Logo Hogeschool van Amsterdam">
        </a>
    </div>
</footer>