<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="CMD Methods - 
Find a combination of research methods that suit your needs - more info">
<link href="https://cdn.skypack.dev/sanitize.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
<script defer data-domain="cmdmethods.nl" src="https://plausible.io/js/script.js"></script>
<script defer src="/js/menu.js"></script>
<script defer src="/js/pinned.js"></script>
<title>CMD Methods</title>