<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic" rel="stylesheet"
    type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,600,700" rel="stylesheet"
    type="text/css" />
<link href="https://cdn.skypack.dev/sanitize.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
<script defer src="/js/menu.js"></script>
<script defer src="/js/pinned.js"></script>
<title>CMD Methods</title>