   <header>
       <a href="/">
           <h1>CMD METHODS PACK</h1>
       </a>
       <h2>Find a combination of research methods that suit your needs - <a href="/about/more-info">more info</a></h2>
       <nav>
           <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/cards/library">Library</a></li>
               <li><a href="/cards/field">Field</a></li>
           </ul>
       </nav>
   </header>