<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <h1>Ooops... </h1>
    <img src="./img/404.png" alt="Sad face">
    <h2>404 Error: This page doesn't exist</h2>
    <p><a href="./">Go back to home</a></p>

    <%- include('includes/footer'); -%>
</body>

</html>